@import url("http://localhost:3000/themes/slate.css");

bui-navbar {
	background-color: var(--bg-surface);
	height: 5vh;
	margin: 0px;

	width: 100%;
	display: flex;
	justify-content: space-between;

	box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.75);

	position: absolute;
	top: 0;
	left: 0;
}

bui-navbar > * {
	display: flex;
    flex-direction: row;
    align-items: center;
	color: var(--text-color);
}

bui-navbar > * > *  {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 70%;
    padding: 3px;
    border-radius: var(--rounding);
    transition: transform .1s ease-in;
}

bui-navbar > * > *:hover {
    transform: scale(1.2);
}
