<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="http://localhost:3000/dist/?components=navbar&minify=false"></script>
		<link rel="stylesheet" href="navbar.css" />
	</head>
	<body>
		<bui-navbar>
			<bui-navbar-section>
				<div>Logo</div>
				<div>Page 1</div>
				<div>Page 2</div>
			</bui-navbar-section>
			<bui-navbar-section>
				<div>Logo</div>
				<div>Page 1</div>
				<div>Page 2</div>
			</bui-navbar-section>
		</bui-navbar>
	</body>
</html>
